/* zrt-cssregistry: */

body {
  color: fontColor;
  margin: 0;
  padding: 0;
  font: 90% fontFamily;
  background-color: contentBackgroundColor;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,cite,
pre,form,fieldset,input,textarea,p,blockquote,th,td{
  margin:0;
  padding:0;
}
table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: inherit;
  font: 100%;
}
address,caption,cite,code,dfn,th,var {
  font-style: normal;
  font-weight: normal;
}
caption,th {
  text-align: left;
}
a {
  color: linkColor;
  background-color: transparent;
}
p {
  margin: 0 0 0.75em 0;
  line-height: 1.5em;
}
hr {
  border: 0;
  height: borderWidth;
  color: globalBorderColor;
  background-color: globalBorderColor;
  margin: 0.5em 0 1em 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  color: fontColor;
  background-color: transparent;
  font-family: headingFontFamily;
  margin: 0 0 0.25em 0;
  border-bottom: borderWidth borderStyle globalBorderColor;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0.5em 0 0 1.5em;
  line-height: 1.5em;
}
ol {
  line-height: 1.5em;
  padding: 0;
  margin: 0.5em 0 0 1.8em;
}
li {
    margin-bottom: 0.5em;
}
.member-invitation {
  padding: 1em;
}
.member-invitation dt {
  float: left;
  padding-right: 1.5em;
  text-align: center;
  width: 130px;
  font-size: 90%;
  font-weight: normal;
  overflow: hidden;
}

.member-invitation dt img {
  border: 0px;
  height: auto;
  width: 100%;
  padding-bottom: 0.25em;
}

.member-invitation dd { 
  overflow: hidden;
}

.member-invitation dd a:visited {
  color: linkColor;
}
  
.member-invitation dd { 
  white-space: normal;
  overflow: hidden;
}

.member-invitation dd h4 {
  font-size: 140%;
  font-weight: normal;
}

.member-invitation dd .member-invitation-byline { 
  font-size: 90%;
  color: discreetColor;
}
